<!DOCTYPE HTML>
<html lang="{{ core.language }}">
  <head>
    <meta charset="utf-8">
    <title>project-name | {{ _( core.title ) }}</title>
    <meta name="description" content="{{ _('') }}">
    <meta name="keywords" content="{{ _('') }}">
    <meta name="robots" content="all">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="msapplication-TileImage" content="/images/logo-tile.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <!--meta name="msapplication-badge" content="frequency=1440; polling-uri=http://mysite.com/badge.xml"-->

    <link href="favicon.ico" rel="shortcut icon">

    <link rel="stylesheet" href="/styles/layout.css">
    {%- block styles %}
    {% endblock -%}
  </head>
  <body>
    <header class="page-header">
      {%- block header %}
      {% endblock -%}
    </header>
    <!-- header PAGE-HEADER -->

    <section class="page-content">
      {%- block content %}
      {% endblock %}
    </section>
    <!-- section PAGE-CONTENT -->

    <footer class="page-footer">
      <div id="dev">
        <a title="{{ core.user }}">User</a>
        <br>
        <a title="{{ core.error }}">Error</a>
        <a title="{{ core.action }}">Action</a>
        <a title="{{ core.status }}">Status</a>
        <br>
        <a title="{{ core }}">Core</a>
      </div>
      {%- block footer %}
      {% endblock %}
    </footer>
    <!-- footer PAGE-FOOTER -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script>
      window.jQuery || document.write('<script src="/scripts/lib/jquery-2.0.0.min.js"><\/script>')
      window.Modernizr || document.write('<script src="/scripts/lib/modernizr-latest.js"><\/script>')
    </script>
    <script src="/scripts/main.js"></script>

    <!-- Google Analytics -->
    <!--
    <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    -->

    <!-- UserVoice Support & Feedback -->
    <!--
    <script>
    var uvOptions = {};
    (function() {
    var uv = document.createElement('script');
    uv.type = 'text/javascript';
    uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/rUwcR1e8dGCotRKmBMiU8g.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(uv, s);
    })();
    </script>
    -->
    {%- block scripts %}
    {% endblock -%}
  </body>
</html>